Literature
Literatura

Weighted Finite Automata and Noncommutative Rational Series
Uvod v funkcionalno analizo
Expander Graphs

List of exercises
Exercise classes

*.aux
*.log
*.toc
*.fls
*.ind
*.ilg
*.idx
*.pre
*.out
*synctex.gz
*fdb_latexmk
*.run.xml
*.bbl
*.bcf
*.blg